{% extends 'core/base.html' %}

{% block content %}


<div class="container w-75">
    <h1 class="mt-3 font-weight-bold">{{room.name}}</h1>

        
        <div class="card bg-light border-dark mt-3" style="height: 70vh; overflow-y: auto;">
            <div class="card-body" id="chat-message">

            {% for message in messages %}
                <h5 class="mt-3" style="font-weight: bold;">{{ message.user.username }}</h5>
                <div class="card  border-dark">
                    <div class="card-body">
                        <p>{{ message.content }}</p>
                    </div>
                </div>
                <p>{{ message.fos }}</p>
            {% endfor %}

            </div>
        </div>
        
        <form method="POST" action=".">
            {% csrf_token %}
            <div class="row mt-4">
                <div class="col-9">
                    <input type="text" class="form-control" id="chat-message-input" placeholder="Type your message">
                </div>
                <div class="col-3">
                    <button href="#" class="btn btn-primary" id="chat-message-submit">Send</button>
                </div>
            </div>
        </form>
        
        <div class="container mt-5 mb-5">
            <h4><b>Here’s a list of the tags and what they mean:</b></h4>
            <div class="card bg-light border-dark mt-3 px-3 py-3" style="height: 30rem; overflow-y: auto; overflow-x: auto;">
                <p><b>CC:</b> coordinating conjunction </br></p>
                <p><b>CD:</b> cardinal digit </br></p>
                <p><b>DT:</b> determiner </br></p>
                <p><b>EX:</b> existential there (like: “there is” … think of it like “there exists”) </br></p>
                <p><b>FW:</b> foreign word </br></p>
                <p><b>IN:</b> preposition/subordinating conjunction </br></p>
                <p><b>JJ:</b> adjective – ‘big’ </br></p>
                <p><b>JJR:</b> adjective, comparative – ‘bigger’ </br></p>
                <p><b>JJS:</b> adjective, superlative – ‘biggest’ </br></p>
                <p><b>LS:</b> list marker 1) </br></p>
                <p><b>MD:</b> modal – could, will </br></p>
                <p><b>NN:</b> noun, singular ‘- desk’ </br></p>
                <p><b>NNS:</b> noun plural – ‘desks’ </br></p>
                <p><b>NNP:</b> proper noun, singular – ‘Harrison’ </br></p>
                <p><b>NNPS:</b> proper noun, plural – ‘Americans’ </br></p>
                <p><b>PDT:</b> predeterminer – ‘all the kids’ </br></p>
                <p><b>POS:</b> possessive ending parent’s </br></p>
                <p><b>PRP:</b> personal pronoun – I, he, she </br></p>
                <p><b>PRP$:</b> possessive pronoun – my, his, hers </br></p>
                <p><b>RB:</b> adverb – very, silently, </br></p>
                <p><b>RBR:</b> adverb, comparative – better </br></p>
                <p><b>RBS:</b> adverb, superlative – best </br></p>
                <p><b>RP:</b> particle – give up </br></p>
                <p><b>TO:</b> – to go ‘to’ the store. </br></p>
                <p><b>UH:</b> interjection – errrrrrrrm </br></p>
                <p><b>VB:</b> verb, base form – take </br></p>
                <p><b>VBD:</b> verb, past tense – took </br></p>
                <p><b>VBG:</b> verb, gerund/present participle – taking </br></p>
                <p><b>VBN:</b> verb, past participle – taken </br></p>
                <p><b>VBP:</b> verb, sing. present, non-3d – take </br></p>
                <p><b>VBZ:</b> verb, 3rd person sing. present – takes </br></p>
                <p><b>WDT:</b> wh-determiner – which </br></p>
                <p><b>WP:</b> wh-pronoun – who, what </br></p>
                <p><b>WP$:</b> possessive wh-pronoun, e.g., whose </br></p>
                <p><b>WRB:</b> wh-adverb, e.g., where, when </br></p>                
            </div>
        </div>

</div>

{% endblock %}

{% block scripts %}

{{ room.slug|json_script:"json-roomname"}}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);

    const chatSocket = new WebSocket(
        'wss://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        console.log('onmessage')

        const data = JSON.parse(e.data);

        if (data.message) {
            let html = '<h5 class="mt-3" style="font-weight: bold;">' + data.username + '</h5>';
                html += '<div class="card border-dark">';
                html += '<div class="card-body w-auto">';
                html += '<p>' + data.message + '</p></div></div>';

            document.querySelector('#chat-message').innerHTML += html

        } else {
            alert("Empty Message!")
        }
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }


    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        console.log({
            'message': message,
            'username': userName,
            'room': roomName
        })

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false
    };

</script>

{% endblock %}