{% extends 'core/base.html' %}

{% block content %}


<div class="container w-75">
    <h1 class="mt-3 font-weight-bold">{{room.name}}</h1>

        
        <div class="card bg-light border-dark mt-3" style="height: 70vh; overflow-y: auto;">
            <div class="card-body" id="chat-message">

            {% for message in messages %}
                <h5 class="mt-3" style="font-weight: bold;">{{ message.user.username }}</h5>
                <div class="card  border-dark">
                    <div class="card-body">
                        <p>{{ message.content }}</p>
                    </div>
                </div>
                <p>{{ message.fos }}</p>
            {% endfor %}

            </div>
        </div>
        
        <form method="POST" action=".">
            <div class="row mt-4">
                <div class="col-9">
                    <input type="text" class="form-control" id="chat-message-input" placeholder="Type your message">
                </div>
                <div class="col-3">
                    <button href="#" class="btn btn-primary" id="chat-message-submit">Send</button>
                </div>
            </div>
        </form>
        
        

</div>

{% endblock %}

{% block scripts %}

{{ room.slug|json_script:"json-roomname"}}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        console.log('onmessage')

        const data = JSON.parse(e.data);

        if (data.message) {
            let html = '<h5 class="mt-3" style="font-weight: bold;">' + data.username + '</h5>';
                html += '<div class="card border-dark">';
                html += '<div class="card-body w-auto">';
                html += '<p>' + data.message + '</p></div></div>';

            document.querySelector('#chat-message').innerHTML += html

        } else {
            alert("Empty Message!")
        }
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }


    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        console.log({
            'message': message,
            'username': userName,
            'room': roomName
        })

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false
    };

</script>

{% endblock %}